*{
    font-family: "Bebas Neue", sans-serif;
}

body{
    font-family: "Bebas Neue", sans-serif;
    box-sizing: border-box;
    background-color: #4A5859;
    color: #F0F2EF;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.detailcontainer{
    background-color:#68797b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 50%;
    margin: 0 auto;   
    border: 3px solid #1E1E1E;
    border-radius: 5px;
    box-shadow: 0 2px 5px #1E1E1E;
}

.containerright{
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
}

.detail-img{
    background-color: #eceaea;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px #1E1E1E;
    border: 2px solid #4A5859;
    border-radius: 10px;
    width: 80%;
    padding: 10px;
    margin: 10px;
}

h2,h3,h4{
    color:black;
}

.quantNumber{
    color: black;
}

.addToCart{
    color: black;
}

a{
    color: #98d831;
}